*, body, document {
	padding: 0;
	margin: 0;
	background: #dddddd;
	overflow: hidden;
}

/**** Top Bar ****/

#top {
	width: 100%;
	line-height: 40px;
	min-height: 40px;
	text-align: center;
	color: red;
	padding: 3px 0 0 0;
	margin: 0 0 10px 0;
	font-weight: 800;
	top: 0;
	left: 0;
	background: black;
}

#top a {
	text-decoration: none;
	color: red;
	float: right;
	margin: 2px 15px 0 0;
	padding: 1px 15px;
	border: 1px solid red;
	line-height: 30px;
	background: #000000;
}

#chatrooms li {
	text-align: center;
	padding: 10px;
}

#chatrooms li a {
	text-decoration: none;
	color: black;
	font-weight: 900;
	text-align: center;
}

/**** Chat ****/
#dashboard {
	width: 79%;
	margin: 0 auto;
	border: 2px solid black;
	min-height: 700px;
	background: #ffffff;
}

#dashboard ul {
	list-style-type: none;
	background: #ffffff;
}

#dashboard ul li {
	padding: 5px;
	background: #ffffff;
}

#dashboard ul li a {
	background: #ffffff;
	text-decoration: none;
	font-weight: 700;
	color: #000000;
}

#dashboard ul li a:hover {
	background: #000000;
	text-decoration: none;
	font-weight: 700;
	color: #ff0000;
}

.dashboard_segments {
	width: 10%;
	min-height: 100%;
	position: absolute;
	top: 44px;
	border: 1px solid #fff;
	padding: 0 0 10px;
	text-align: center;
	background: #ffffff;
}

#chatbox {
	width: 100%;
	min-height: 100%;
	position: relative;
}

#selectedroom {
	background: white;
	color: black;
	border: 1px solid black;
}

textarea {
	position: absolute;
	bottom: 1%;
	background: #ffffff;
	width: 74.5%;
	min-height: 110px;
	border: 2px solid black;
	resize: none;
	padding: 5px;
}

#sendbutton {
	position: absolute;
	bottom: 1%;
	right: 10.5%;
	width: 59px;
	min-height: 124px;
	border: 2px solid black;
	background: black;
	color: red;
	font-weight: 800;
}

#dashboard_left {
	float: left;
	left: 0;
	border-right: 1px solid #000;
}

.dashboard_group_headers {
	width: 100%;
	line-height: 40px;
	background: #000000;
	color: red;
	margin-bottom: 20px;
	text-align: center;
}

.dashboard_group_headers a {
	background: black;
	color: red;
	text-decoration: none;
}

#dashboard_right {
	float: right;
	right: 0;
	border-left: 1px solid #000;
}



/**** W3Schools Login Form ****/
/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button[name="login"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}